<!DOCTYPE html>
<head>
  <title>Least Privileges - c1bucket</title>
</head>
<body >
<div>
<h1 style="text-align:center">Least Privileges c1bucket</h1>
<ul>
  <li>Custom role c1-access was created to list bucket in the level. However it was granted with permissions more than necessary</li>
  <li>You can use this <a href="{{url}}" target="_blank">funtion</a> to check permissions of role c1-access</li>
  <li>Go to google cloud console IAM&Admin -> IAM -> MEMBERS, find c1-access in the list  and edit role </li>
  <li>Refresh the <a href="{{url}}" target="_blank">funtion</a> to see if you get the correct least privileges</li>
</ul>  
</div>


<div style=" width:80%;margin:auto;padding:auto; background-image: linear-gradient(to right, rgb(34, 230, 238),white,rgb(34, 230, 238));">
<h3>Bucket:</h3>
<ol>
  <li>{{ bucket }}</li>
</ol> 
 <span style="width:100%;background-color:teal;text-align:center">{{err}}</span>    
</div>

<div style=" width:80%;margin:auto;padding:auto;" >
  <h3>Source code of check function :</h3>
<pre style=" width:90%;margin:auto;padding:auto; background-image: linear-gradient(to right, rgb(147, 181, 182),white, rgb(147, 181, 182));">
# code here
  def f();

</pre>

</div>
</body>
