<!DOCTYPE html>
{% raw -%}
<head>
  <title>Least Privileges - {{prefix}}{{level_name}}</title>
</head>
<body >
<div>
<h1 style="text-align:center">Least Privileges {{prefix}}{{level_name}}</h1>
<ul>
  <li>An instance and a bucket were created with the level</li>
  <li>Custom role attached with {{prefix}}-access has the permissions to list buckets and instances in the project. However it was granted with permissions more than necessary</li>
  <li>You can use this <a href="{{url}}" target="_blank">funtion</a> to check current permissions of {{prefix}}-access</li>
  <li>Go to google cloud console IAM&Admin -> Roles, find {{prefix}}-access role(enabled) in the table  and edit its permissions </li>
  <li>Refresh the check <a href="{{url}}" target="_blank">funtion</a> to see if you get the least-privilege permissions to list both resources</li>
  <li>To validate if there are sufficient permissions, wait 2 mins and refresh the current function.</li>
</ul>  
</div>


<div style=" width:80%;margin:auto;padding:auto; background-image: linear-gradient(to right, rgb(34, 230, 238),white,rgb(34, 230, 238));">
<h3>Resources:</h3>
<ul>
{% for r in resources %} 
  <li>{{ r }}</li>
{% endfor %}
</ul> 
 <span style="width:100%;background-color:teal;">
{% if err|length>0 %} 
<h4>Error:</h4>
<ul>
	{% for e in err %} 
	  <li>{{ e }}</li>
	{% endfor %}
</ul>
{% endif %}

</span>
</div>

<div style=" width:80%;margin:auto;padding:auto;" >
  <h4>Source code from current function {{prefix}}-access :</h4>
<pre style=" width:100%;margin:auto;padding:auto; background-color:rgb(147, 181, 182);">
    instance= instance_api.instances().list(zone="us-west1-b", project=PROJECT_ID).execute()["items"][0]
    resources.append(f'Instance: {instance["name"]}({instance["machineType"]})')

    bucket = storage_api.buckets().list(project=PROJECT_ID).execute()["items"][0]["name"]
    resources.append(f'Bucket: {bucket}')
</pre>

</div>
</body>
{%- endraw %}
