<!DOCTYPE html>
<head>
  <title>Check Privileges - c1bucket</title>
</head>
<body >
<h1 style="text-align:center">Check Privileges c1bucket</h1>


<div style="width:80%;margin:auto;padding:auto; background-image: linear-gradient(to right, rgb(34, 230, 238),white,rgb(34, 230, 238));">
<h3>Message:</h3>
<ul>
  <li>{{ msg }}</li>
</ul> 
  
<h3>Current Permissions of custum role {{rn}}:</h3>
<ol>
{% for p in per %} 
  <li>{{ p }}</li>
 {% endfor %}
</ol>
<span style="width:100%; background-color:teal">{{err}}</span>   
</div>
</body>
