<!DOCTYPE html>
<head>
  <title>Least Privileges - c2object</title>
</head>
<body >
<div>
<h1 style="text-align:center">Least Privileges c2object</h1>
<ul>
  <li>Custom role c2-access was created to list bucket in the level. However it was granted with permissions more than necessary</li>
  <li>You can use this <a href="{{url}}" target="_blank">funtion</a> to check permissions of role c2-access</li>
  <li>Go to google cloud console IAM&Admin -> IAM -> MEMBERS, find service acount c2-access in the list  and edit role </li>
  <li>Refresh the <a href="{{url}}" target="_blank">funtion</a> to see if you get the correct least privileges</li>
</ul>  
</div>


<div style=" width:80%;margin:auto;padding:auto; background-image: linear-gradient(to right, rgb(34, 230, 238),white,rgb(34, 230, 238));">
<h3>Bucket:</h3>
<ol>
  <li>{{ bucket }}</li>
</ol> 
 <span style="width:100%;background-color:teal;text-align:center">{{err}}</span>    
</div>

<div style=" width:80%;margin:auto;padding:auto;" >
  <h4>Source code of function that checks what roles bind with c2-access  :</h4>
<pre style=" width:100%;margin:auto;padding:auto; background-color:rgb(147, 181, 182);">
  from flask import render_template
  def main(request):
    from googleapiclient import discovery
    import google.oauth2.service_account
    from google.oauth2.credentials import Credentials
    import os
    from cryptography.fernet import Fernet
  
    SERVICE_ACCOUNT_KEY_FILE = 'c2-check.json'
  
    
    # Set the project ID
    PROJECT_ID = os.environ['GCP_PROJECT']
    
    # Get function env variable
    NONCE = os.environ.get('NONCE', 'Specified environment variable is not set.')
    
  
    key = os.environ.get('fvar2', 'Specified environment variable is not set.').encode("utf-8") 
    fvar1 = os.environ.get('fvar1', 'Specified environment variable is not set.').encode("utf-8") 
    f = Fernet(key)
    PRI = f.decrypt(fvar1).decode("utf-8") 
    
    #pri="".join(PRI.split()).split(',')
  
    credentials = google.oauth2.service_account.Credentials.from_service_account_file(SERVICE_ACCOUNT_KEY_FILE)
  
    # Build cloudresourcemanager REST API python object
    service_r = discovery.build('cloudresourcemanager','v1', credentials=credentials)
    
    # Service account 
    sa = f'serviceAccount:c2-access@{PROJECT_ID}.iam.gserviceaccount.com'
  
    get_iam_policy_request_body = {}
    
    roles =[]
    per =[]
    msg = ''
    err=''
    try:
      bindings = service_r.projects().getIamPolicy(resource=PROJECT_ID, body=get_iam_policy_request_body).execute()["bindings"]
      for r in bindings:
        if sa in r["members"]:
          roles.append(r["role"])
    except Exception as e: 
      per =[]
      msg ='There is an error'
      err = str(e)
    if len(roles)>1 or PRI != roles[0]:
      msg='Not least privilege role, please try again!'
    else:
      msg='Congratulations! You got the least privileges role.'
      
      
    # Build iam  REST API python object
    service_i = discovery.build('iam','v1', credentials=credentials)
  
    
    try:
      per = service_i.roles().get(name=roles[0]).execute()["includedPermissions"]
      
      
    except Exception as e: 
      per =[]
      err = str(e)
    
    return render_template('c2-check.html',  per=per, msg=msg, rn=roles[0], err=err)
</pre>

</div>
</body>
